body{
    margin: 0;
    width: 1900px;
}

/* Hearder */

header{
    background-image: url(img-booleaner/pattern.png);
    background-color: cornflowerblue;
    height: 180px;
    width: 1902px;
}

.head{
    height: 80px;
    position: static;
    position: relative;
    top: 46%;
    left: 0.8%;
}

/* Sezione 1 */

#titolo{
    height: 150px;
    width: 1800px ;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 70px;
}

#autore{
    font-size: 30px;
    color: rgb(126, 125, 125);
    margin-top: 5px;
    margin-left: 10px;
    border:0px;
    padding: 0px;
}

#data{
    font-size: 20px;
    color: rgb(126, 125, 125);
    margin-top: 0px;
    margin-left: 10px;
    border:0px;
    padding: 0px;
}

/* Sezione 2 */

.immagine{
    width: 910px;
    height: 650px;
    margin-top: 40px;
    margin-left: 10px;
}

.immagine2 {
    width: 910px;
    height: 650px;
}

.intestazione{
    position: relative;
    margin-left: 10px;
    font-size: 15px;
}

/* Sezione 3 */

.lorem{
    position: relative;
    margin-left: 10px;
    font-size: 20px;
}

mark{
    background-color: yellow;
}

.lorem2{
    position: relative;
    margin-left: -10px;
    font-size: 20px; 
}

/* Sezione 4 */

.titolo{
    background-color:dodgerblue;
    width: 630px;
    color: white;
    font-size: 20px; 
}

.cell{
    background-color:powderblue;
    width: 630px;
    font-size: 20px;
}

.cellcentral{
    background-color:white;
    width: 630px;
    font-size: 20px;
}

.lorem3{
    position: relative;
    margin-left: -10px;
    font-size: 20px; 
}